# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Logs
logs/

# Ignore JSON files
*.json

# Ignore log files
*.log

# Ignore HTML files (reports, exports)
*.html

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing cache
.pytest_cache/

# Build files
dist/
build/
